{$CADDY_RP_DOMAIN} {
    reverse_proxy nextjs:3000

    tls {
        dns cloudflare {$CF_API_TOKEN}
        resolvers 1.1.1.1
    }
}

:5555 {
    root * /srv/images
    file_server
}

{$CADDY_RP_IMAGE_SUBDOMAIN} {
    tls {
        dns cloudflare {$CF_API_TOKEN}
        resolvers 1.1.1.1
    }
    reverse_proxy :5555
}
